# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
backend/user-service/node_modules #Explicit kizárás a backendhez
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
#own
#Don't upload this file
/src/firebase.js

# Firebase Hosting cache
.firebase/

# Don't upload this folder
/src/api/
/src/pages/mentes
/src/assets
/src/assets/video
/src/assets/images
build/

.env
.env.*

.eslintrc.js

