body {
  background: black;
}

.background-video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border: 30px solid red;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}

/*mysytle class just 
because of the overwrite the base class 
 (concatenation is higher order)*/
/*MainNavigationConsole.js custom shadow  */


.mystyle .customshadow2 {
  box-shadow: 0px 0px 10px 3px rgba(44, 78, 82, 0.75);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(44, 78, 82, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(44, 78, 82, 0.75);
}

/*MainNavigationConsole.js hover */
.mystyle .customshadow3:hover {
  background: linear-gradient(
    to bottom right,
    hsla(0, 0%, 100%, 0.1) 20%,
    hsla(0, 0%, 100%, 0.1) 20%
  );
}

/*MainNavigationConsole.js active */
.mynavlink .shadowactive {
  background: linear-gradient(
    to bottom right,
    hsla(0, 76%, 26%, 0.1) 50%,
    hsla(0, 76%, 26%, 0.1) 50%
  );
}

/*menu active on SideBar.js  and Settingsbar.js */
.mymenu .menuctive {
  background: linear-gradient(
    to bottom right,
    hsla(0, 76%, 26%, 0.1) 50%,
    hsla(0, 0%, 100%, 0.1) 20%
  );
}

/*Button on SideBar.js and Settingsbar.js */
.color-gradient-box-menu {
  background: linear-gradient(
    to bottom right,
    hsla(0, 76%, 26%, 0.1) 50%,
    hsla(0, 76%, 26%, 0.1) 50%
  );
  backdrop-filter: blur(0px);
  box-shadow: 0px 0px 10px 5px rgba(44, 78, 82, 0.75);
  -webkit-box-shadow: 0px 0px 10px 5px rgba(44, 78, 82, 0.75);
  -moz-box-shadow: 0px 0px 10px 5px rgba(44, 78, 82, 0.75);
}

/*Button hover on SideBar.js and Settingsbar.js */
.color-gradient-box-menu:hover {
  background: linear-gradient(
    to bottom right,
    hsla(0, 76%, 26%, 0.1) 50%,
    hsla(0, 0%, 100%, 0.1) 20%
  );
  backdrop-filter: blur(0px);
  box-shadow: 0px 0px 10px 5px rgba(44, 78, 82, 0.75);
  -webkit-box-shadow: 0px 0px 10px 10px rgba(44, 78, 82, 0.75);
  -moz-box-shadow: 0px 0px 10px 5px rgba(44, 78, 82, 0.75);
}
